<!DOCTYPE html>
<html lang="es" ng-app="clash-royale">
<head>
	include ./partials/head.pug
</head>
<body>
	<div class="container">
		include ./partials/nav.pug

		<div ng-view></div>
	</div>

	include ./partials/scripts.pug
</body>
</html>
